<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>申请下级代理</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">申请级别<span class="check-tips">（代理级别,默认为销售代表）</span></label>
            <select class="controls" style="width:300px;height:30px;" name="level">
                {$slt}
            </select>
        </div>
        <div class="form-item">
            <label class="item-label">手机<span class="check-tips">（用户手机号码，用于登陆）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="mobile" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">密码<span class="check-tips">（用户密码不能少于6位）</span></label>
            <div class="controls">
                <input type="password" class="text input-large" name="password" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">确认密码</label>
            <div class="controls">
                <input type="password" class="text input-large" name="repassword" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">姓名<span class="check-tips">（请填写真实姓名）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="username" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">邮箱<span class="check-tips">（用户邮箱）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="email" value="">
            </div>
        </div>
        <input type="hidden" name="fid" value="{$fid}">
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
    </script>
</block>
